/**
 * Additional Styles
 */

// Блок "сайдбар" рядом со схемой
.sidebar-scheme {
  width: 100%;

  @media #{map-get($display-breakpoints, 'md-and-up')} {
    width: 400px
  }
  @media #{map-get($display-breakpoints, 'xl-only')} {
    width: 450px
  }
}

// Табы
.v-tabs {
  &.v-tabs-arrow-min-w-0 {
    .v-slide-group {
      &__prev,
      &__next {
        min-width: 0 !important;
      }
    }
  }

  @each $direction in ('top', 'bottom') {
    @each $name, $value in $rounded {
      @if type-of($name) == 'string' {
        &.v-slide-group-wrapper-rounded-#{$direction}-#{$name} {
          .v-slide-group__wrapper {
            border-#{$direction}-left-radius: $value;
            border-#{$direction}-right-radius: $value;
          }
        }
      }
      @else {
        &.v-slide-group-wrapper-rounded-#{$direction} {
          .v-slide-group__wrapper {
            border-#{$direction}-left-radius: $value;
            border-#{$direction}-right-radius: $value;
          }
        }
      }
    }
  }
}
