<template>
  <ValidationProvider v-slot="{ errors, valid }" :name="$attrs.label" :rules="rules" :vid="vid" slim>
    <v-autocomplete
      v-model="innerValue"
      :error-messages="errors"
      v-bind="$attrs"
      :item-text="$attrs['item-text'] || 'name'"
      :item-value="$attrs['item-value'] || 'id'"
      :class="[{'required' : required}]"
      v-on="$listeners"
      :menu-props="{
        offsetY: true,
      }"
      @click:clear="clear"
    >
      <template v-for="(_, slot) of $scopedSlots" v-slot:[slot]="scope">
        <slot :name="slot" v-bind="scope" />
      </template>
    </v-autocomplete>
  </ValidationProvider>
</template>

<script>
import { ValidationProvider } from 'vee-validate'

export default {
  name: 'KVAutocomplete',
  components: {
    ValidationProvider
  },
  props: {
    rules: {
      type: [Object, String],
      required: false,
      default: ''
    },
    vid: {
      type: String,
      required: false,
      default: ''
    },
    value: {
      type: null,
      default: null
    }
  },
  data: () => ({
    innerValue: null
  }),
  computed: {
    required () {
      const typeRules = typeof this.rules
      let res = false
      if (typeRules === 'string') {
        res = this.rules.includes('required')
      } else if (typeRules === 'object') {
        res = this.rules.required
      }
      return res
    }
  },
  watch: {
    // Handles internal model changes.
    innerValue (newVal) {
      this.$emit('input', newVal)
    },
    // Handles external model changes.
    value (newVal) {
      this.innerValue = newVal
    }
  },
  created () {
    if (this.value) {
      this.innerValue = this.value
    }
  },
  methods: {
    clear () {
      this.$nextTick(() => {
        this.innerValue = null
        this.$emit('input', this.model)
      })
    }
  }
}
</script>
