<template>
  <div>
    <ValidationProvider
      v-slot="{ errors, valid }"
      :name="$attrs.label"
      :rules="rules"
      :vid="vid"
      slim
    >
      <v-text-field
        v-if="value"
        :value="value"
        prepend-icon="mdi-paperclip"
        :append-icon="'mdi-file-download'"
        :append-outer-icon="'mdi-delete'"
        :readonly="!$attrs.disabled"
        :disabled="$attrs.disabled"
        :dense="$attrs.dense"
        :label="$attrs.label"
        :class="[{'required' : required}]"
        @click:append="download(value)"
        @click:append-outer="clear()"
      />
      <v-file-input
        v-else
        ref="file"
        v-model="model"
        :label="$attrs.label"
        :dense="$attrs.dense"
        :loading="status.loading"
        prepend-icon="mdi-paperclip"
        :error-messages="errors"
        :class="[{'required' : required}]"
        name="file"
        :disabled="$attrs.disabled"
        @change="select($event)"
      />
    </ValidationProvider>
    <!--    accept="application/pdf"-->
  </div>
</template>

<script>
export default {
  name: 'KVFileUploader',
  props: {
    rules: {
      type: [Object, String],
      required: false,
      default: ''
    },
    vid: {
      type: String,
      required: false,
      default: ''
    },
    value: {
      type: String,
      required: false,
      default: ''
    },

    rename: {
      type: Function,
      required: false,
      default: file => file.name
    },

    field: {
      type: String,
      required: false,
      default: 'file'
    },

    directory: {
      type: String,
      required: false,
      default: '/files'
    },

    maxSize: {
      type: Number,
      required: false,
      default: 25600
    },

    headers: {
      type: Object,
      required: false,
      default: () => ({})
    }
  },
  data () {
    return {
      status: {
        loading: false,
        progress: 0
      },
      model: null,
      storageUrl: `${process.env.NUXT_ENV_BACK_URL}/storage`
    }
  },

  computed: {
    required () {
      const typeRules = typeof this.rules
      let res = false
      if (typeRules === 'string') {
        res = this.rules.includes('required')
      } else if (typeRules === 'object') {
        res = this.rules.required
      }
      return res
    }
  },

  methods: {
    select (file) {
      if (file) {
        const size = file.size / 1024

        if (size > this.maxSize) {
          this.$nextTick(() => {
            this.model = null
          })
          this.$refs.file.blur()
          this.$dialog.notify.error('Размер файла превышает допустимый', {
            position: 'bottom-right',
            timeout: 5000
          })
          this.$emit('error-size')
        } else {
          this.upload(file)
        }
      } else {
        this.$emit('error-empty')
      }
    },

    async upload (file) {
      this.status.loading = true

      const form = new FormData()

      const config = {
        headers: {
          'Content-Type': 'multipart/form-data',
          ...this.headers
        },

        onUploadProgress: function (event) {
          if (event.lengthComputable) {
            const progress = (event.loaded / event.total) * 100

            this.status.progress = progress

            this.$emit('progress', progress)
          }
        }.bind(this)
      }

      form.append(this.field, file, this.rename(file))

      try {
        const upload = await this.$api.post(`${this.directory}/upload`, form, config).catch(() => {
          this.model = null
          this.$dialog.notify.error('Ошибка при загрузке файла', {
            position: 'bottom-right',
            timeout: 5000
          })
        })

        // this.$emit('success', upload.data.data)
        this.$emit('input', upload.data.data)
      } catch (e) {
        this.$emit('failed', e)
      } finally {
        this.status.loading = false
        this.status.progress = 0
      }
    },

    download (a) {
      window.open(`${this.storageUrl}/${a}`, '_blank')
    },
    clear () {
      this.model = null
      this.$emit('input', '')
    }
  }
}
</script>
