<template>
  <v-menu
    v-model="menu"
    attach
    absolute
    offset-y
    :close-on-content-click="false"
  >
    <template v-slot:activator="{ on }">
      <v-btn
        icon
        x-small
        :color="innerValue"
        v-on="on"
        @click="menu = !menu"
      >
        <v-icon small>
          mdi-invert-colors
        </v-icon>
      </v-btn>
      <!--      <div :style="swatchStyle" v-on="on" />-->
    </template>
    <v-card>
      <v-card-text class="pa-0">
        <v-color-picker v-model="innerValue" flat />
      </v-card-text>
    </v-card>
  </v-menu>
</template>

<script>
export default {
  name: 'KVIconColorPicker',
  props: {
    value: {
      type: null,
      default: ''
    }
  },
  data: () => ({
    innerValue: '',
    menu: false
  }),
  watch: {
    // Handles internal model changes.
    innerValue (newVal) {
      if (newVal.toUpperCase() !== this.value.toUpperCase()) {
        this.$emit('input', newVal)
      }
    },
    // Handles external model changes.
    value (newVal) {
      this.innerValue = newVal
    }
  },
  created () {
    if (this.value) {
      this.innerValue = this.value
    }
  }
}
</script>

<style scoped>

</style>
