<template>
  <div class="w-full text-center">
    <v-avatar
      v-bind="$attrs"
      :class="[{'cursor-pointer':!disabled},classI]"
      @click="click"
    >
      <div v-if="status.loading" class="progress-wrap">
        <v-progress-circular
          :value="status.progress"
          :size="32"
          :width="2"
          class="position-absolute progress"
          color="grey lighten-5"
        />
      </div>
      <v-img
        v-else
        :src="!!value ? `${storageUrl}/${value}`: placeholderImg "
        :aspect-ratio="aspectRatio"
      >
        <template v-slot:placeholder>
          <v-row
            class="fill-height ma-0"
            align="center"
            justify="center"
          >
            <v-progress-circular
              indeterminate
              :size="32"
              :width="2"
              color="grey lighten-5"
            />
          </v-row>
        </template>
      </v-img>
      <input
        ref="file"
        type="file"
        name="image"
        style="display: none"
        accept="image/x-png,image/jpeg"
        @change="onFileChange($event.target.name, $event.target.files)"
      >
    </v-avatar>
    <v-btn v-if="showButton && !disabled" class="mt-1" small :loading="status.loading" @click="click">
      Изменить
    </v-btn>
  </div>
</template>

<script>

export default {
  name: 'KVImageUploader',
  props: {
    value: {
      type: String,
      default: ''
    },
    maxSize: {
      type: Number,
      required: false,
      default: 2048
    },
    headers: {
      type: Object,
      required: false,
      default: () => ({})
    },
    classI: {
      type: [Object, String],
      default: ''
    },
    showButton: {
      type: Boolean,
      default: false
    },
    avatar: {
      type: Boolean,
      default: false
    },
    aspectRatio: {
      type: [Number, String],
      default: 16 / 9
    },
    disabled: {
      type: Boolean,
      default: false
    }
  },
  data: () => ({
    status: {
      loading: false,
      progress: 0
    },
    storageUrl: `${process.env.NUXT_ENV_BACK_URL}/storage`
  }),
  computed: {
    placeholderImg () {
      return this.avatar ? '/images/no_avatar.svg' : '/images/no_image.svg'
    },
    uploadURL () {
      return this.avatar ? '/avatars/upload' : '/images/upload'
    }
  },
  methods: {
    showNotifyError (message) {
      this.$dialog.notify.error(message, {
        position: 'bottom-right',
        timeout: 5000
      })
    },
    click () {
      if (!this.status.loading && !this.disabled) {
        return this.$refs.file.click()
      }
    },

    onFileChange (fieldName, file) {
      const [image] = file

      if (file.length > 0) {
        const size = image.size / 1024

        if (!image.type.match('image.*')) {
          this.showNotifyError('Файл не является изображением')
        } else if (size > this.maxSize) {
          this.showNotifyError(`Максимально допустимый размер файла ${size}МБ`)
        } else {
          this.upload(fieldName, image)
        }
      } else {
        this.showNotifyError('Файл не выбран')
      }
    },
    async upload (fieldName, file) {
      this.status.loading = true

      const form = new FormData()

      const config = {
        headers: {
          'Content-Type': 'multipart/form-data',
          ...this.headers
        },

        onUploadProgress: function (event) {
          if (event.lengthComputable) {
            this.status.progress = (event.loaded / event.total) * 100
          }
        }.bind(this)
      }

      form.append(fieldName, file)

      try {
        const upload = await this.$api.post(this.uploadURL, form, config)
        this.$emit('input', upload.data.data)
      } catch (e) {
        this.showNotifyError('Произошла ошибка')
      } finally {
        this.status.loading = false
        this.status.progress = 0
      }
    }
  }
}
</script>

<style scoped lang="scss">
.progress-wrap {
  padding-bottom: 100%;
}

.progress {
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
</style>
