<template>
  <ValidationProvider v-slot="{ errors, valid }" :name="$attrs.label" :rules="rules" :vid="vid" slim>
    <v-select v-model="innerValue" :error-messages="errors" v-bind="$attrs" :class="[{'required' : required}]" v-on="$listeners" />
  </ValidationProvider>
</template>

<script>
import { ValidationProvider } from 'vee-validate'

export default {
  name: 'KVSelect',
  components: {
    ValidationProvider
  },
  props: {
    rules: {
      type: [Object, String],
      required: false,
      default: ''
    },
    vid: {
      type: String,
      required: false,
      default: ''
    },
    value: {
      type: null,
      default: null
    }
  },
  data: () => ({
    innerValue: ''
  }),
  computed: {
    required () {
      const typeRules = typeof this.rules
      let res = false
      if (typeRules === 'string') {
        res = this.rules.includes('required')
      } else if (typeRules === 'object') {
        res = this.rules.required
      }
      return res
    }
  },
  watch: {
    // Handles internal model changes.
    innerValue (newVal) {
      this.$emit('input', newVal)
    },
    // Handles external model changes.
    value (newVal) {
      this.innerValue = newVal
    }
  },
  created () {
    if (this.value) {
      this.innerValue = this.value
    }
  }
}
</script>
