<template>
  <ValidationProvider v-slot="{ errors, valid }" :name="$attrs.label" :rules="rules" :vid="vid" slim>
    <v-switch
      v-model="innerValue"
      :error-messages="errors"
      value="1"
      :true-value="$attrs['true-value'] || true"
      :false-value="$attrs['false-value'] || false"
      v-bind="$attrs"
      :class="[{'required' : required}]"
      v-on="$listeners"
    />
    <!--    :success="!!rules && valid"-->
  </ValidationProvider>
</template>

<script>

export default {
  name: 'KVSwitch',
  props: {
    rules: {
      type: [Object, String],
      required: false,
      default: ''
    },
    vid: {
      type: String,
      required: false,
      default: ''
    },
    // must be included in props
    value: {
      type: [Boolean, Number, String],
      default: false
    }
  },
  data: () => ({
    innerValue: ''
  }),
  computed: {
    required () {
      const typeRules = typeof this.rules
      let res = false
      if (typeRules === 'string') {
        res = this.rules.includes('required')
      } else if (typeRules === 'object') {
        res = this.rules.required
      }
      return res
    }
  },
  watch: {
    // Handles internal model changes.
    innerValue (newVal) {
      this.$emit('input', newVal)
    },
    // Handles external model changes.
    value (newVal) {
      this.innerValue = newVal
    }
  },
  created () {
    if (this.value) {
      this.innerValue = this.value
    }
  }
}
</script>
