<template>
  <v-menu
    v-model="menu"
    :close-on-content-click="false"
    :nudge-right="40"
    transition="scale-transition"
    offset-y
    min-width="290px"
  >
    <template v-slot:activator="{ on }">
      <ValidationProvider
        v-slot="{ errors, valid }"
        :name="$attrs.label"
        :rules="rules"
        :vid="vid"
        slim
      >
        <v-text-field
          :value="parsed"
          :label="$attrs.label"
          :disabled="$attrs.disabled"
          :loading="$attrs.loading"
          :dense="$attrs.dense"
          :outlined="$attrs.outlined"
          :filled="$attrs.filled"
          :error-messages="errors"
          :class="[textFieldClass, {'required' : required}]"
          :prepend-icon="compPrependIcon"
          :readonly="!$attrs.disabled"
          :hide-details="$attrs.hideDetails"
          :append-icon="(clearable&&parsed)?'mdi-close':''"
          v-on="on"
          @click:append="clear"
        />
      </ValidationProvider>
    </template>

    <template v-if="mode === 'datetime'">
      <v-date-picker v-if="!timemodal" v-model="date" v-bind="datePickerProps" color="surfaceDark" @input="selectDate">
        <v-icon v-if="date" class="mt-n8 ml-2" color="surfaceDark" @click="timemodal = true">
          mdi-clock-outline
        </v-icon>
      </v-date-picker>
      <v-time-picker
        v-if="timemodal"
        v-model="time"
        v-bind="timePickerProps"
        format="24hr"
        color="surfaceDark"
        @click:minute="select"
      >
        <v-icon class="mt-n8 ml-2" color="surfaceDark" @click="timemodal = false">
          mdi-calendar
        </v-icon>
      </v-time-picker>
    </template>
    <template v-else-if="mode === 'date'">
      <v-date-picker v-model="date" v-bind="datePickerProps" @input="selectDate" />
    </template>
    <template v-else-if="mode === 'time'">
      <v-time-picker v-model="time" v-bind="timePickerProps" format="24hr" @click:minute="selectDate" />
    </template>
  </v-menu>
</template>

<script>
export default {
  name: 'VVDateTimePicker',
  props: {
    value: {
      type: [String, Object, Date],
      default: null
    },
    rules: {
      type: [Object, String],
      required: false,
      default: ''
    },
    vid: {
      type: String,
      required: false,
      default: ''
    },
    prefix: {
      type: String,
      default: ''
    },
    mode: {
      mode: String,
      default: 'datetime',
      validator (value) {
        return ['date', 'time', 'datetime'].includes(value)
      }
    },
    datePickerProps: {
      type: Object
    },
    timePickerProps: {
      type: Object
    },
    textFieldClass: {
      type: String
    },
    prependIcon: {
      type: String
    },
    clearable: {
      type: Boolean,
      default: false
    }
  },
  data: vm => ({
    menu: false,
    timemodal: false,
    date: null,
    time: null
  }),
  computed: {
    parsed () {
      if (this.mode === 'datetime') {
        if (this.date) {
          const date = this.$nuxt.$moment(this.date).format('DD.MM.YYYY')
          // let time = (this.time) ? this.time : '00:00';
          const time = (this.time) ? this.$nuxt.$moment(this.time, 'HH:mm:ss').format('HH:mm') : '00:00'
          return `${this.prefix} ${date} ${time}`
        }
      } else if (this.mode === 'date') {
        if (this.date) {
          const date = this.$nuxt.$moment(this.date).format('DD.MM.YYYY')
          return `${this.prefix} ${date}`
        }
      } else if (this.mode === 'time') {
        if (this.time) {
          const time = (this.time) ? this.$nuxt.$moment(this.time, 'HH:mm:ss').format('HH:mm') : '00:00'
          return `${this.prefix} ${time}`
        }
      }
      return null
    },
    compPrependIcon () {
      if (this.prependIcon) {
        return this.prependIcon
      } else {
        return this.mode === 'time' ? 'mdi-clock-outline' : 'mdi-calendar-outline'
      }
    },
    required () {
      const typeRules = typeof this.rules
      let res = false
      if (typeRules === 'string') {
        res = this.rules.includes('required')
      } else if (typeRules === 'object') {
        res = this.rules.required
      }
      return res
    }
  },
  watch: {
    value: {
      immediate: true,
      handler (val) {
        if (val) {
          if (this.mode === 'datetime') {
            const dt = this.$nuxt.$moment(val)
            this.date = dt.format('YYYY-MM-DD')
            this.time = dt.format('HH:mm')
          } else if (this.mode === 'date') {
            const dt = this.$nuxt.$moment(val)
            this.date = dt.format('YYYY-MM-DD')
          } else if (this.mode === 'time') {
            this.time = this.$nuxt.$moment(val, 'HH:mm:ss').format('HH:mm')
          }
        } else {
          this.date = null
          this.time = null
        }
      }
    }
  },
  methods: {
    clear () {
      this.date = null
      this.time = null
      this.$emit('input', null)
    },
    close () {
      this.timemodal = false
      this.menu = false
    },
    select () {
      const date = this.$nuxt.$moment(this.date).format('YYYY-MM-DD')
      const time = (this.time) ? this.$nuxt.$moment(this.time, 'HH:mm:ss').format('HH:mm') : '00:00'
      this.$emit('input', `${date} ${time}:00`)
      this.close()
    },
    selectDate () {
      if (this.mode === 'datetime') {
        const date = this.$nuxt.$moment(this.date).format('YYYY-MM-DD')
        const time = (this.time) ? this.$nuxt.$moment(this.time, 'HH:mm:ss').format('HH:mm') : '00:00'
        this.$emit('input', `${date} ${time}:00`)
        this.timemodal = true
      } else if (this.mode === 'date') {
        const date = this.$nuxt.$moment(this.date).format('YYYY-MM-DD')
        this.$emit('input', `${date}`)
        this.close()
      } else if (this.mode === 'time') {
        const time = (this.time) ? this.$nuxt.$moment(this.time, 'HH:mm:ss').format('HH:mm') : '00:00'
        this.$emit('input', `${time}:00`)
        // this.$emit('input', this.$nuxt.$moment(time, 'HH:mm:ss').format('HH:mm:ss'));
        this.close()
      }
    }
  }
}
</script>

<style scoped lang="scss">

</style>
