<template>
  <div>
    <ValidationObserver ref="observer" v-slot="{ invalid, validated, validate }">
      <v-form :disabled="loading" @submit.prevent="process">
        <v-tabs v-model="tab" show-arrows background-color="transparent">
          <v-tab to="#tabs-account">
            Профиль
          </v-tab>
          <v-tab v-if="$auth.hasScope('role:sysadmin')" to="#tabs-information">
            Дополнительно
          </v-tab>
        </v-tabs>

        <v-tabs-items v-model="tab">
          <v-tab-item value="tabs-account">
            <div class="my-2">
              <div>
                <v-card>
                  <v-card-title>Основная информация</v-card-title>
                  <v-card-text>
                    <v-row dense>
                      <v-col cols="12" md="12">
                        <v-row dense>
                          <v-col cols="12" md="4">
                            <KVTextField v-model="form.name" rules="required" label="Ф.И.О" dense/>
                          </v-col>
                          <v-col cols="12" md="4">
                            <KVTextField v-model="form.email" rules="email" label="Email" type="email" dense/>
                          </v-col>
                          <v-col cols="12" md="4">
                            <KVTextField v-model="form.login" rules="required" label="Логин" dense/>
                          </v-col>
                          <template v-if="!form.id">
                            <v-col cols="12" md="6">
                              <KVTextField
                                v-model="form.password"
                                rules="required|min:8"
                                :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                                :type="showPassword ? 'text' : 'password'"
                                label="Пароль"
                                dense
                                vid="password"
                                @click:append="showPassword = !showPassword"
                              />
                            </v-col>
                            <v-col cols="12" md="6">
                              <KVTextField
                                v-model="passwordConfirmation"
                                rules="required|min:8|confirmed:password"
                                :append-icon="showPasswordConfirmation ? 'mdi-eye' : 'mdi-eye-off'"
                                :type="showPasswordConfirmation ? 'text' : 'password'"
                                label="Подтверждение пароля"
                                dense
                                @click:append="showPasswordConfirmation = !showPasswordConfirmation"
                              />
                            </v-col>
                          </template>
                        </v-row>
                      </v-col>
                    </v-row>
                    <div class="d-flex flex-column flex-sm-row">
                      <div class="flex-grow-1 text-right">
                        <div class="mt-2">
                          <v-btn class="white--text mr-1 px-3" color="grey" :disabled="loading" @click="close">
                            Закрыть
                          </v-btn>
                          <v-btn color="primary" :disabled="invalid" :loading="loading" type="submit">
                            {{ form.id ? 'Сохранить' : 'Добавить' }}
                          </v-btn>
                        </div>
                      </div>
                    </div>
                  </v-card-text>
                </v-card>
              </div>
            </div>
          </v-tab-item>
        </v-tabs-items>
      </v-form>
    </ValidationObserver>

  </div>
</template>

<script>
import { formEntityMixin } from '@/mixins/formEntity'

export default {
  name: 'FormUsers',
  components: {
  },
  mixins: [formEntityMixin],
  data () {
    return {
      panel: [1],
      tab: null,
      form: {},
      default: {
        name: '',
        login: '',
        password: undefined,
        email: '',
        created_at: null,
        updated_at: null,
      },
      entityPathAPI: '/users',
      entityPathURL: '/users',
      showPassword: false,
      showPasswordConfirmation: false,
      passwordConfirmation: ''
    }
  },
}
</script>

<style scoped>

</style>
