<template>
  <v-tooltip top>
    <template v-slot:activator="{ on }">
      <div class="round" :class="color" v-on="on" />
    </template>
    <span>{{ title }}</span>
  </v-tooltip>
</template>

<script>
export default {
  name: 'RoundStatus',
  props: {
    color: {
      type: String,
      default: 'grey lighten-2'
    },
    title: {
      type: String,
      default: ''
    }
  }
}
</script>

<style scoped lang="scss">
.round {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  margin: 0 auto;
}
</style>
