$spacersAdd: (
  'min': 1px,
  '05': $spacer * 0.5
);

$utilities: (
  "position": (
    responsive: true,
    print: true,
    property: position,
    class: position,
    values: relative absolute fixed static sticky
  ),
  "height": (
    responsive: true,
    property: height,
    class: h,
    values: (
      full: 100%,
      auto: auto,
      screen: 100vh
    )
  ),
  "width": (
    responsive: true,
    property: width,
    class: w,
    values: (
      full: 100%,
      auto: auto,
      screen: 100vw
    )
  ),
  "min-height": (
    responsive: true,
    property: min-height,
    class: min-h,
    values: (
      0: 0,
      full: 100%,
      screen: 100vh
    )
  ),
  "min-width": (
    responsive: true,
    property: min-width,
    class: min-w,
    values: (
      0: 0,
      full: 100%,
      screen: 100vw
    )
  ),
  "cursor": (
    property: cursor,
    class: cursor,
    values: auto default pointer wait text move not-allowed help
  ),
  "opacity": (
    property: opacity,
    class: opacity,
    values: (
      0: 0,
      5: .05,
      10: 0.1,
      15: 0.15,
      20: 0.2,
      25: 0.25,
      30: 0.3,
      35: 0.35,
      40: 0.4,
      45: 0.45,
      50: 0.5,
      55: 0.55,
      60: 0.6,
      65: 0.65,
      70: 0.7,
      75: 0.75,
      80: 0.8,
      85: 0.85,
      90: 0.9,
      100:1
    )
  ),
  // Padding utilities
  "padding": (
    responsive: true,
    property: padding,
    class: pa,
    values: $spacersAdd
  ),
  "padding-x": (
    responsive: true,
    property: padding-right padding-left,
    class: px,
    values: $spacersAdd
  ),
  "padding-y": (
    responsive: true,
    property: padding-top padding-bottom,
    class: py,
    values: $spacersAdd
  ),
  "padding-top": (
    responsive: true,
    property: padding-top,
    class: pt,
    values: $spacersAdd
  ),
  "padding-right": (
    responsive: true,
    property: padding-right,
    class: pr,
    values: $spacersAdd
  ),
  "padding-bottom": (
    responsive: true,
    property: padding-bottom,
    class: pb,
    values: $spacersAdd
  ),
  "padding-left": (
    responsive: true,
    property: padding-left,
    class: pl,
    values: $spacersAdd
  ),
  // Margin utilities
  "margin": (
    responsive: true,
    property: margin,
    class: ma,
    values: $spacersAdd
  ),
  "margin-x": (
    responsive: true,
    property: margin-right margin-left,
    class: mx,
    values: $spacersAdd
  ),
  "margin-y": (
    responsive: true,
    property: margin-top margin-bottom,
    class: my,
    values: $spacersAdd
  ),
  "margin-top": (
    responsive: true,
    property: margin-top,
    class: mt,
    values: $spacersAdd
  ),
  "margin-right": (
    responsive: true,
    property: margin-right,
    class: mr,
    values: $spacersAdd
  ),
  "margin-bottom": (
    responsive: true,
    property: margin-bottom,
    class: mb,
    values: $spacersAdd
  ),
  "margin-left": (
    responsive: true,
    property: margin-left,
    class: ml,
    values: $spacersAdd
  ),
  "margin-start": (
    responsive: true,
    property: (ltr: margin-left, rtl: margin-right),
    class: ms,
    values: $spacersAdd
  ),
  "margin-end": (
    responsive: true,
    property: (ltr: margin-right, rtl: margin-left),
    class: me,
    values: $spacersAdd
  ),
);
