/**
 * Vuetify Styles Overrides
 */

// Flex min-width: 0
.v-application .d-flex {
  min-width: 0;
}

// Text Overrides
.v-application p {
  margin-bottom: 20px;
}

// List Component
.v-list-item__title {
  font-size: 0.975rem;
  font-weight: 600;
}

.v-list-item__action:first-child,
.v-list-item__icon:first-child {
  margin-right: 14px !important;
}

.v-application--is-rtl {
  .v-list-item__action:first-child,
  .v-list-item__icon:first-child {
    margin-right: 0 !important;
    margin-left: 14px !important;
  }
}

.v-list-item__action:first-child,
.v-list-item__icon:first-child {
  margin-right: 14px !important;
}

.v-list-group__header__append-icon .v-icon {
  font-size: 1rem;
}

.v-list-group__header .v-list-item__icon.v-list-group__header__append-icon {
  min-width: 0 !important;
}

.v-list-item__icon {
  margin: auto;
  justify-content: center;
}

.v-list-group--sub-group .v-list-group__header {
  padding-left: $spacer !important;
}

.v-list-group__items {
  margin-bottom: $spacer;
}

// List Component in select
.v-list {
  &.v-select-list,
  &.v-list--dense {
    .v-list-item {
      .v-list-item__title {
        font-weight: 500;
      }
    }
  }
}

// Navigation Drawer
.v-navigation-drawer__content {
  flex: 1 1 auto;
  overflow-y: auto;
  min-height: 0px;
  padding: 8px 0;
  background: linear-gradient(white 30%, rgba(255, 255, 255, 0)), linear-gradient(rgba(255, 255, 255, 0), white 70%) 0 100%, radial-gradient(farthest-side at 50% 0, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0)), radial-gradient(farthest-side at 50% 100%, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0)) 0 100%;
  background-repeat: no-repeat;
  background-size: 100% 40px, 100% 40px, 100% 15px, 100% 15px;
  background-attachment: local, local, scroll, scroll;
}

.theme--dark .v-navigation-drawer__content {
  background: none;
}

// Tables
.v-data-table {
  table {
    padding: 4px;
    padding-bottom: 8px;

    th {
      text-transform: uppercase;
      white-space: nowrap;
    }

    td {
      border-bottom-color: #b1b1b1 !important;
      //border-bottom: 0 !important;
    }

    tbody {
      tr {
        transition: box-shadow 0.2s, transform 0.2s;
        &:not(.v-data-table__selected):hover {
          box-shadow: 0 3px 15px -2px rgba(0, 0, 0, 0.12);
          transform: translateY(-4px);
        }
      }
    }
  }
}

// Tabs
.v-tabs-items {
  background-color: transparent !important;
}

// Buttons
.theme--dark.v-btn:not(.v-btn--flat):not(.v-btn--text):not(.v-btn--outlined):not(.v-alert__dismissible) {
  background-color: #273743;
}

// Inputs
.v-input {
  &.required {
    .v-label {
      padding-right: 0.5em;

      &:after {
        position: absolute;
        content: '*';
        top: 0;
        right: 0;
        color: var(--v-error-base) !important;
      }
    }
  }
}

// Custom
.line-height-normal {
  line-height: normal !important;
}
