<template>
  <div>
    <v-img
      class="mb-5"
      max-height="400"
      contain
      src="/images/illustrations/maintenance-illustration.svg"
    />

    <h1 class="display-2 font-weight-bold">
      {{ $t('utility.maintenance') }}
    </h1>
    <h2 class="title mt-4">
      Скоро заработаем
    </h2>
  </div>
</template>

<script>
export default {
  layout: 'auth'
}
</script>
