<template>
  <div class="flex-grow-1 w-full">
    <div class="d-flex align-center py-2">
      <div>
        <TitlePage/>
        <v-breadcrumbs :items="breadcrumbs" class="pa-0 pt-1" />
      </div>
      <v-spacer />
      <v-btn color="success" nuxt to="/users/create" class="mr-2">
        <v-icon left>
          mdi-plus
        </v-icon>
        Новый пользователь
      </v-btn>
      <v-btn icon @click="$refs.form.refresh()">
        <v-icon>mdi-refresh</v-icon>
      </v-btn>
    </div>

    <FormUsers ref="form" :item-id="parseInt($route.params.id)" />
  </div>
</template>

<script>
import { idPageEntityMixin } from '@/mixins/idPageEntity'
import FormUsers from '../../components/entities/users/FormUsers'
import TitlePage from '../../components/page/TitlePage'

export default {
  components: { TitlePage, FormUsers },
  middleware: 'auth',
  mixins: [idPageEntityMixin],
  data () {
    return {
      breadcrumbs: [
        {
          text: 'Пользователи',
          to: '/users',
          exact: true
        },
        {
          text: 'Редактировать пользователя'
        }
      ]
    }
  },
  head () {
    return {
      title: 'Пользователь'
    }
  }
}
</script>
