<template>
  <div class="flex-grow-1 w-full">
    <div class="d-flex align-center py-2">
      <div>
        <TitlePage/>
        <v-breadcrumbs :items="breadcrumbs" class="pa-0 pt-1" />
      </div>
    </div>
    <FormUsers />
  </div>
</template>

<script>
import FormUsers from '../../components/entities/users/FormUsers'
import TitlePage from '../../components/page/TitlePage'
export default {
  components: { TitlePage, FormUsers },
  middleware: 'auth',
  data () {
    return {
      breadcrumbs: [
        {
          text: 'Пользователи',
          to: '/users',
          exact: true
        },
        {
          text: 'Добавление пользователя'
        }
      ]
    }
  },
  head () {
    return {
      title: 'Новый пользователь'
    }
  }
}
</script>

<style scoped>

</style>
