<template>
  <div class="flex-grow-1 w-full">
    <div class="d-flex align-center py-2">
      <div>
        <TitlePage/>
        <v-breadcrumbs :items="breadcrumbs" class="pa-0 pt-1"/>
      </div>
      <v-spacer/>
      <v-btn color="success" class="mr-2" @click="changePassword">
        <v-icon left>
          mdi-key
        </v-icon>
        Смена пароля
      </v-btn>
      <v-btn icon @click="$refs.form.refresh()">
        <v-icon>mdi-refresh</v-icon>
      </v-btn>
    </div>
    <FormUsers ref="form" :item-id="parseInt($auth.user.id)"/>
  </div>
</template>

<script>
import { idPageEntityMixin } from '@/mixins/idPageEntity'
import FormUsers from '../../components/entities/users/FormUsers'
import TitlePage from '../../components/page/TitlePage'

export default {
  components: { TitlePage, FormUsers },
  middleware: 'auth',
  mixins: [idPageEntityMixin],
  data () {
    return {
      breadcrumbs: [
        {
          text: 'Профиль',
          exact: true
        },
        {
          text: 'Редактирование профиля'
        }
      ]
    }
  },
  head () {
    return {
      title: 'Пользователь'
    }
  }
}
</script>
