<template>
  <div class="d-flex flex-column flex-grow-1 w-full">
    <div class="d-flex align-center py-2">
      <div>
        <TitlePage/>
        <v-breadcrumbs :items="breadcrumbs" class="pa-0 pt-1"/>
      </div>
      <v-spacer/>
      <v-btn color="success" nuxt :to="`${entityPathURL}/create`">
        <v-icon left>
          mdi-plus
        </v-icon>
        Новый пользователь
      </v-btn>
    </div>

    <v-card>
      <!-- users list -->
      <v-data-table
        v-model="selectedUsers"
        show-select
        :headers="headers"
        :items="dtItems"
        :loading="loading"
        :options.sync="dtOptions"
        :server-items-length="totalDtItems"
        :footer-props="dtFooterProps"
        class="flex-grow-1"
      >
        <template v-slot:item.name="{ item }">
          <v-hover v-slot:default="{ hover }">
            <nuxt-link
              class="text-decoration-none primary--text"
              :class="{'text--darken-2':hover}"
              :to="`${entityPathURL}/${item.id}`"
            >
              {{ item.name }}
            </nuxt-link>
          </v-hover>
        </template>

        <template v-slot:item.active="{ item }">
          <v-icon v-if="item.active" small color="success">
            mdi-checkbox-marked-circle-outline
          </v-icon>
          <v-icon v-else small color="grey">
            mdi-close-circle-outline
          </v-icon>
        </template>
        <template v-slot:item.created_at="{ item }">
          <div>{{ item.created_at | formatDate('lll') }}</div>
        </template>

        <template
          v-slot:item.actions="{ item }"
        >
          <v-tooltip top>
            <template v-slot:activator="{ on }">
              <v-btn
                icon
                small
                color="primary"
                v-on="on"
                @click="editItem(item)"
              >
                <v-icon small>
                  mdi-pencil
                </v-icon>
              </v-btn>
            </template>
            <span>Редактировать</span>
          </v-tooltip>
          <template v-if="item.id !== 1">
            <v-tooltip v-if="item.id !== $auth.user.id && deletable" top>
              <template v-slot:activator="{ on }">
                <v-btn
                  icon
                  small
                  color="error"
                  v-on="on"
                  @click="deleteItemDialog(item)"
                >
                  <v-icon small>
                    mdi-delete
                  </v-icon>
                </v-btn>
              </template>
              <span>Удалить</span>
            </v-tooltip>
          </template>
        </template>
      </v-data-table>
    </v-card>

  </div>
</template>

<script>

import { dataTableMixin } from '@/mixins/dataTable'

import FiltersDrawer from '@/components/entities/FiltersDrawer'
import TitlePage from '../../components/page/TitlePage'

export default {
  components: {
    TitlePage,
    // eslint-disable-next-line vue/no-unused-components
    FiltersDrawer
  },
  mixins: [dataTableMixin],
  middleware: 'auth',
  data () {
    return {
      isLoading: false,
      breadcrumbs: [{
        text: 'Пользователи',
        disabled: false,
        href: '#'
      }, {
        text: 'Список'
      }],
      dtUrl: 'users',
      entityPathURL: '/users',
      dtFilters: {},
      singularTitleAccusative: 'пользователя',

      searchQuery: '',
      selectedUsers: [],
      headers: [
        {
          text: 'Имя',
          align: 'left',
          value: 'name'
        },
        {
          text: 'Логин',
          value: 'login'
        },
        {
          text: 'Создан',
          value: 'created_at'
        },
        {
          text: 'Действия',
          sortable: false,
          align: 'right',
          value: 'actions'
        }
      ],

      deletable: false,
      users: []
    }
  },
  watch: {
    selectedUsers (val) {

    }
  },
  head () {
    return {
      title: this.$t('menu.users')
    }
  }
}
</script>

<style scoped>

</style>
