<template>
  <v-app dark>
    <div class="d-flex text-center flex-column flex-md-row flex-grow-1">
      <v-sheet
        class="layout-side mx-auto d-none d-md-flex flex-md-column justify-center px-2"
        dark
        :color="`surfaceDark`"
      >
        <div class="mb-10 pa-2">
          <div class="mb-4">
            <!--            <v-img src="/images/logo_ru.svg" />-->
          </div>
          <div class="display-1 font-weight-bold white--text">
            {{ product.name }}
          </div>
          <v-btn v-if="this.$auth.loggedIn" to="/" class="my-4">
            На главную
          </v-btn>
        </div>
        <img class="w-full" src="/images/illustrations/signin-illustration.svg">
      </v-sheet>

      <div class="pa-2 pa-md-4 flex-grow-1 align-center justify-center d-flex flex-column">
        <div class="layout-content ma-auto w-full">
          <nuxt/>
        </div>
        <div class="overline mt-4">
          {{ product.name }} - {{ product.version }}
        </div>
      </div>
    </div>
  </v-app>
</template>

<script>
import { mapState } from 'vuex'

export default {
  computed: {
    ...mapState('app', ['product'])
  }
}
</script>

<style scoped>
.layout-side {
  width: 420px;
}

.layout-content {
  max-width: 480px;
}
</style>
