<template>

  <v-app dark>
    <div
      v-shortkey="['ctrl', '/']"
      class="d-flex flex-grow-1"
      @shortkey="onKeyup"
    >
      <!-- Navigation -->
      <!--      :light="menuTheme === 'light'"-->
      <!--      :dark="menuTheme === 'dark'"-->
      <v-navigation-drawer
        v-model="drawer"
        app
        floating
        class="elevation-1"
        :mini-variant="miniVariant"
        :expand-on-hover="miniVariant"
        :right="$vuetify.rtl"
        dark
        :color="`surfaceDark`"
      >
        <!-- Navigation menu info -->
        <template v-slot:prepend>
          <div class="pa-2" justify-center align="center">
            <v-avatar tile :size="(miniVariant)?30:100">
              <v-img
                v-if="$auth.user.image"
                :src="`${$store.state.app.storageUrl}/${$auth.user.image}`"
              />
              <v-img

                max-width="100"
                v-else
                :src="'/images/no_avatar.svg'"
              />
            </v-avatar>
          </div>
          <v-divider dark class="mx-2"/>
        </template>

        <vue-scroll>
          <!-- Navigation menu -->
          <main-menu :menu="navigation.menu"/>
        </vue-scroll>

        <!-- Navigation menu footer -->
        <template v-slot:append>
          <!-- Footer navigation links -->
          <div class="pa-1 text-center">
            <template v-for="(item, index) in navigation.footer">
              <v-btn
                v-if="!item.perms || item.perms.length <= 0 || item.perms.some(p => $auth.hasScope(p))"
                :key="index"
                :href="item.href"
                :target="item.target"
                small
                text
              >
                {{ item.key ? $t(item.key) : item.text }}
              </v-btn>
            </template>
          </div>
        </template>
      </v-navigation-drawer>

      <!-- Toolbar -->
      <v-app-bar
        app
        :color="isToolbarDetached ? 'surface' : undefined"
        :flat="isToolbarDetached"
        :light="toolbarTheme === 'light'"
        :dark="toolbarTheme === 'dark'"
      >
        <v-card
          class="flex-grow-1 d-flex"
          :class="[isToolbarDetached ? 'pa-1 mt-3 mx-1' : 'pa-0 ma-0']"
          :flat="!isToolbarDetached"
        >
          <div class="d-flex flex-grow-1 align-center">
            <!-- search input mobile -->
            <v-text-field
              v-if="showSearch"
              append-icon="mdi-close"
              placeholder="Search"
              prepend-inner-icon="mdi-magnify"
              hide-details
              solo
              flat
              autofocus
              @click:append="showSearch = false"
            />

            <div v-else class="d-flex flex-grow-1 align-center">
              <v-app-bar-nav-icon @click.stop="drawer = !drawer"/>
              <v-spacer class="d-block "/>

              <toolbar-user/>
            </div>
          </div>
        </v-card>
      </v-app-bar>

      <v-main>
        <v-container class="fill-height pb-1" :fluid="!isContentBoxed">
          <v-layout>
            <transition name="fade" mode="out-in">
              <nuxt ref="page"/>
            </transition>
          </v-layout>
        </v-container>

        <v-footer app inset>
          <v-spacer/>
          <div class="text-overline grey--text text--darken-1 mr-2">
            {{ product.name }}
          </div>
          <div class="text-overline grey--text">
            <span class="text-lowercase">v.{{ product.version }}</span>
          </div>
        </v-footer>
      </v-main>
    </div>
  </v-app>
</template>

<script>
import { mapState } from 'vuex'

// eslint-disable-next-line no-unused-vars
import { Wormhole } from 'portal-vue'

// navigation menu configurations
import config from '../configs'

import MainMenu from '../components/navigation/MainMenu'
import ToolbarUser from '../components/toolbar/ToolbarUser'
import ToolbarNotifications from '../components/toolbar/ToolbarNotifications'

export default {
  components: {
    MainMenu,
    ToolbarUser
  },
  data () {
    return {
      drawer: null,
      miniVariant: false,
      showSearch: false,
      navigation: config.navigation
    }
  },
  computed: {
    ...mapState('app', ['product', 'isContentBoxed', 'menuTheme', 'toolbarTheme', 'isToolbarDetached', 'appBarSettings'])
    // showPortalToolbarEnd () {
    //   return Wormhole.hasContentFor('toolbar-end')
    // }
  },
  methods: {
    onKeyup (e) {
      this.$refs.search.focus()
    },
  }
}
</script>
