<template>
  <div>
    <v-card class="text-center pa-1">
      <v-card-title class="justify-center display-1 mb-2">

        {{ $t('login.welcome') }}
      </v-card-title>
      <v-card-subtitle> {{ $t('login.signInToYourAccount') }}</v-card-subtitle>
      <!-- sign in form -->
      <v-card-text>
        <ValidationObserver ref="observer" v-slot="{ invalid }">
          <v-form @submit.prevent="signIn">
            <KVTextField v-model="form.login" rules="required" :label="$t('login.login')" outlined/>
            <KVTextField
              v-model="form.password"
              :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
              :type="showPassword ? 'text' : 'password'"
              rules="required"
              :label="$t('login.password')"
              name="password"
              outlined
              @click:append="showPassword = !showPassword"
            />
            <v-btn
              :loading="isLoading"
              type="submit"
              :disabled="invalid"
              block
              x-large
              color="primary"
            >
              {{ $t('login.button') }}
            </v-btn>
          </v-form>
        </ValidationObserver>
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
/*
|---------------------------------------------------------------------
| Sign In Page Component
|---------------------------------------------------------------------
|
| Sign in template for user authentication into the application
|
*/
export default {
  layout: 'auth',
  middleware: 'guest',
  data () {
    return {
      // sign in buttons
      isLoading: false,

      // form
      form: {
        login: '',
        password: ''
      },

      // show password field
      showPassword: false
    }
  },
  methods: {
    signIn () {
      this.isLoading = true
      this.$auth.loginWith('laravelSanctum', { data: this.form }).finally(() => {
        this.isLoading = false
      })
    }
  }
}
</script>
