<template>
  <v-overlay :value="value" :absolute="absolute" color="white">
    <v-progress-circular indeterminate :size="size" color="primary" />
  </v-overlay>
</template>

<script>
export default {
  name: 'KVLoader',
  props: {
    value: {
      type: Boolean,
      default: false
    },
    absolute: {
      type: Boolean,
      default: false
    },
    size: {
      type: [Number, String],
      default: 64
    }
  }
}
</script>

<style scoped>

</style>
