<template>
  <div class="headline">
    {{ title }}
  </div>
</template>

<script>
export default {
  name: 'TitlePage',
  data () {
    return {
      title: ' '
    }
  },
  head () {
    return {
      changed: (info) => {
        this.title = info.titleChunk
      }
    }
  }
}
</script>

<style scoped>

</style>
