<template>
  <div>
    <v-btn
      icon
      small
      class="ml-2"
      @click="open = true"
    >
      <v-icon>mdi-filter</v-icon>
    </v-btn>
    <v-navigation-drawer
      v-model="open"
      fixed
      right
      hide-overlay
      temporary
      width="310"
    >
      <div class="d-flex align-center pa-2">
        <div class="title">
          Фильтры
        </div>
        <v-spacer />
        <v-btn icon @click="open = false">
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </div>

      <!-- <v-divider /> -->

      <div class="pa-2">
        <slot />
      </div>
      <div class="px-2">
        <v-row
          align="center"
          justify="space-around"
          dense
        >
          <v-col cols="12" md="6">
            <v-btn
              class="white--text"
              color="grey"
              depressed
              block
            >
              Сбросить
            </v-btn>
          </v-col>
          <v-col cols="12" md="6">
            <v-btn
              color="primary"
              depressed
              block
            >
              Применить
            </v-btn>
          </v-col>
        </v-row>
      </div>
    </v-navigation-drawer>
  </div>
</template>

<script>
export default {
  name: 'FiltersDrawer',
  data: () => ({
    open: false
  })
}
</script>

<style scoped>

</style>
