<template>
  <div class="d-flex flex-grow-1 flex-column" justify-center align="center">
    <v-row class="pa-1 align-center" justify="space-around">
      <v-col>
        <v-card
          :loading="isLoading"
          class="mx-auto"
          max-width="100%"
        >

        </v-card>
      </v-col>
    </v-row>
  </div>
</template>

<script>

export default {
  middleware: 'auth',
  components: {
  },
  data () {
    return {
      loadingInterval: null,

      isLoading1: true
    }
  },
  mounted () {
    let count = 0

    // DEMO delay for loading graphics
    this.loadingInterval = setInterval(() => {
      this[`isLoading${count++}`] = false
      if (count === 4) {
        this.clear()
      }
    }, 400)
  },
  beforeDestroy () {
    this.clear()
  },
  methods: {
    clear () {
      clearInterval(this.loadingInterval)
    },
    onDecode (decodedString) {
      console.log(decodedString)
    }
  }
}
</script>
