<template>
  <v-list nav dense>
    <template v-for="(item, index) in menu">
      <div v-if="!item.perms || item.perms.length <= 0 || item.perms.some(p => $auth.hasScope(p))" :key="index">
        <div v-if="item.key || item.text" class="pa-1 mt-2 overline text-truncate">
          {{ item.key ? $t(item.key) : item.text }}
        </div>
        <nav-menu :menu="item.items" />
      </div>
    </template>
  </v-list>
</template>

<script>
import NavMenu from './NavMenu'

export default {
  components: {
    NavMenu
  },
  props: {
    menu: {
      type: Array,
      default: () => []
    }
  }
}
</script>
